.productItemPage {
    padding-top: 90px;

    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 0 360px;
        height: 80px;

        &-item {
            margin: auto 0;
            font-weight: 500;
            font-size: 16px;
            color: #222222;
            cursor: pointer;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 0;
                height: 3px;
                bottom: -30px;
                left: 50%;
                background: #FF3D54;
                border-radius: 999px 999px 0px 0px;
                transition: 0.33s;
            }

            &:hover::before {
                left: 0;
                width: 100%;
                transition: 0.33s;
            }
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;

        padding: 0 360px;
        padding-top: 100px;
        background-color: #F5F5F5;

        &__content {
            width: 730px;
            height: 100%;

            &__about {
                margin-bottom: 100px;

                &-title {
                    font-weight: 700;
                    font-size: 44px;
                    color: #222222;
                    margin-bottom: 50px;
                }
                &-text {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 140%;
                    color: #222222;
                    margin-bottom: 50px;
                }
                &__info {
                    display: flex;
                }
                &__column {
                    width: 50%;

                    &-title {
                        font-weight: 600;
                        font-size: 20px;
                        color: #222222;
                        margin-bottom: 25px;
                    }
                    &__line {
                        display: flex;
                        margin-bottom: 10px;

                        &-point {
                            width: 8px;
                            height: 8px;
                            margin: auto 0;
                            margin-right: 10px;
                            border-radius: 999px;
                            background: #FF3D54;
                        }
                        &-text {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 150%;
                            color: #222222;
                            margin: auto 0;
                            width: 80%;
                        }
                    }
                }
            }

            &__details {
                margin-bottom: 100px;

                &-title {
                    font-weight: 700;
                    font-size: 44px;
                    color: #222222;
                    margin-bottom: 60px;
                }
                &__accordion {
                    display: flex;
                    justify-content: space-between;
                    width: calc(100% - 40px);
                    min-height: 65px;
                    padding: 0 20px;
                    background: #FFFFFF;
                    border-radius: 5px;
                    cursor: pointer;

                    &__more {
                        display: flex;
                        background: #FFFFFF;
                        margin-bottom: 15px;
                        border-radius: 5px;
                        transition: 0.33s;
                        min-height: 0;
                        width: 100%;
                        bottom: 0;
                        left: 0;

                        &-active {
                            background: #FFFFFF;
                            margin-bottom: 15px;
                            border-radius: 5px;
                            transition: 0.33s;
                            min-height: 65px;
                            width: 100%;
                            bottom: 0;
                            left: 0;
                        }

                        &-list {
                            margin: auto 0;
                            font-weight: 400;
                            font-size: 0px;
                            line-height: 140%;
                            color: #222222;
                            transition: 0.11s;

                            &-active {
                                margin: auto 0;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 140%;
                                color: #222222;
                                transition: 0.33s;
                            }
                        }
                    }
                    &-textBox {
                        display: flex;
                        margin: auto 0;
                    }
                    &-icon {
                        margin: auto 0;
                        margin-right: 10px;
                        font-weight: 500;
                        font-size: 20px;
                        color: #222222;
                    }
                    &-text {
                        margin: auto 0;
                        font-weight: 500;
                        font-size: 20px;
                        color: #222222;
                    }
                    &-plus {
                        margin: auto 0;
                        transition: 0.33s;

                        &-active {
                            margin: auto 0;
                            transform: rotate(45deg);
                            transition: 0.33s;
                        }
                    }
                }
            }

            &__packaging {
                &-title {
                    font-weight: 700;
                    font-size: 44px;
                    color: #222222;
                    margin-bottom: 50px;
                }
                &-text {
                    margin-bottom: 25px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 140%;
                    color: #222222;
                }
            }
        }
    }
}
