.productItemPage {
    padding-top: 90px;

    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 0 360px;
        height: 80px;

        &-item {
            margin: auto 0;
            font-weight: 500;
            font-size: 16px;
            color: #222222;
            cursor: pointer;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 0;
                height: 3px;
                bottom: -30px;
                left: 50%;
                background: #FF3D54;
                border-radius: 999px 999px 0px 0px;
                transition: 0.33s;
            }

            &:hover::before {
                left: 0;
                width: 100%;
                transition: 0.33s;
            }
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;

        height: 1000px;
        padding: 0 360px;
        padding-top: 100px;
        background-color: #F5F5F5;

        &__content {
            width: 730px;
            height: 100%;
        }
    }
}
